* {
    margin: 0;
    padding: 0;
}
.main {

}
.hero__about {
    display: grid;
    grid-template-rows: 2fr;
    text-align: center;
    height: 133px;
    margin-bottom: 64px;
}
.h1 {
    grid-row: 1/2;
    font-size: 48px;
    font-family: "Roboto", Georgia, sans-serif;
    font-weight: 700;
    color: #211F54;
}

.hero__about-text {
    grid-row: 2/3;
    font-size: 21px;
    font-family: "Roboto", Georgia, sans-serif;
    font-weight: 400;
    color: #6E7191;
    width: 648px;
    height: 61px;
    justify-self: center;
}




.hero__description {
    display: grid;
    grid-template-columns: 3fr;
    gap: 42px;
    margin-left: 24px;
    margin-right: 24px;
}
.hero__description-one {
    grid-column: 1/2;
    height: 392px;
    width: 374px;
}
.hero__description-two {
    grid-column: 2/3;
    height: 392px;
    width: 374px;
}
.hero__description-three {
    grid-column: 3/4;
    height: 392px;
    width: 374px;
}
.h3-three,
.h3-two,
.h3-one {
    font-family: 'Roboto', Georgia, sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: #211F54;
    text-align: center;
}
.p-one,
.p-two,
.p-three {
    font-size: 21px;
    font-family: "Roboto", Georgia, sans-serif;
    font-weight: 400;
    color: #6E7191;
    text-align: center;
}